# Configuración de Base de Datos
# Configuración de Base de Datos
# Reemplaza los valores con tus credenciales reales
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/unimarket?schema=public"

# Configuración de Autenticación (si aplica)
NEXTAUTH_SECRET="tu_secreto_super_seguro"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=your_resend_api_key_here

# Web Push Notifications (VAPID)
VAPID_PUBLIC_KEY=your_vapid_public_key_here
VAPID_PRIVATE_KEY=your_vapid_private_key_here
VAPID_SUBJECT=mailto:your-email@example.com
