# Configuración de Base de Datos
# Reemplaza los valores con tus credenciales reales
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/unimarket?schema=public"

# Configuración de Autenticación (si aplica)
NEXTAUTH_SECRET="tu_secreto_super_seguro"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY="re_123_placeholder"
